<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card" style="height: 205px">
			<div class="card-header">
				<h3><%= link_to  "Reset Password" %></h3>
				<%
=begin%>
 <div class="d-flex justify-content-end social_icon">
          <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.each do |provider| %>
							<% if provider.to_s == "facebook" %>
									<span>
										<%= link_to omniauth_authorize_path(resource_name, provider) do %>
											<i class="fab fa-facebook-square"></i>
										<%end%>
									</span>
							<% end %>

							<% if provider.to_s == "google_oauth2" %>
								<span>
										<%= link_to omniauth_authorize_path(resource_name, provider) do %>
											<i class="fab fa-google-plus-square"></i>
										<%end%>
									</span>
							<% end %>
            <% end %>
          <% end %>
				</div> 
<%
=end%>
			</div>
			<div class="card-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name) , html: { method: :post }) do |f| %>
					<%= render "devise/shared/error_messages", resource: resource %>

          <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Entire your email" %>
					</div>
          
					<div class="form-group">
            <%= f.submit "Send", class: "btn float-right login_btn"   %>
					</div>
      <% end %>
			</div>
		</div>
	</div>
</div>

