<% flash.each do |type, msg| %>
  <div style="color: green">
    <%= msg %>
  </div>
<%end %>
<% if !current_user %>
  <%= link_to  "Login", new_user_session_path %>
<%else%>
  <%= link_to  "Logout", destroy_user_session_path %>
  <%= link_to  "Profile", users_edit_path %>
<% end %>

<%= link_to  "Post", posts_path %>

<% if current_user.isAdmin %>
  <%= link_to  "Categories", categories_path %>
<% end %>
<div class="container-fluid" style="display: flex;">
  <% @posts.each do |post| %>
    <div class="card" style="width: 18rem; background: #f1f1f1 !important; margin: 15px">
    <img class="card-img-top" src=<%= post.images %> alt="Card image cap" width="150" height="150">
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= post.content.length > 50 ? post.content.slice(0, 50).concat("...") : post.content %></p>
      <%= link_to  "Detail", "/posts/#{post.id}", class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
</div>